<footer>
    <div class="footer-container">
      <div class="footer-left">
        <p>&copy; 2024 Proyecto Restaurante Angular P1 </p>
        <address>
          <strong>My App Inc.</strong><br>
          123 Main St, Anytown, CA 12345<br>
          USA
        </address>
        <p><strong>Horarios de atención:</strong></p>
        <ul>
          <li>Lunes a Viernes: 9:00 am - 5:00 pm</li>
          <li>Sábados: 10:00 am - 2:00 pm</li>
          <li>Domingos: Cerrado</li>
        </ul>
      </div>
      <div class="footer-right">
        <form class="search-form">
          <input type="search" placeholder="Buscar...">
          <button type="submit">Buscar</button>
        </form>
        <ul>
            <a href="https://www.facebook.com/" target="_blank"><img src="assets/images/Facebook.svg" alt="Facebook"></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="assets/images/Instagram.svg" alt="Instagram"></a>
            <a href="https://www.x.com/" target="_blank"><img src="assets/images/X.svg" alt="X"></a>
            <a href="https://www.google.com/intl/es/gmail/about/" target="_blank"><img src="assets/images/Gmail.svg" alt="Gmail"></a>
        </ul>
      </div>
    </div>
  </footer>