<div class="sidebar-header">
  <button class="hamburger" [class.open]="isOpen" (click)="toggleSidebar()">
    <i class="fas fa-bars"></i>
  </button>
  <h2>Menu</h2>
</div>

<nav class="sidebar" [class.open]="isOpen">
  <div class="sidebar-content">
    <a routerLink="/" routerLinkActive="active">
      <i class="fas fa-home icon"></i>
      <span class="text">Home</span>
    </a>
    <a routerLink="/login" routerLinkActive="active">
      <i class="fas fa-sign-in-alt icon"></i>
      <span class="text">Log In</span>
    </a>
    <a routerLink="/menu" routerLinkActive="active">
      <i class="fas fa-utensils icon"></i>
      <span class="text">Menu</span>
    </a>
    <a routerLink="/reservaciones" routerLinkActive="active">
      <i class="fas fa-calendar-alt icon"></i>
      <span class="text">Reservaciones</span>
    </a>
    <a routerLink="/conocenos" routerLinkActive="active">
      <i class="fas fa-info icon"></i>
      <span class="text">Conocenos</span>
    </a>
    <!-- Nuevos enlaces para Restaurants y Customers -->
    <a routerLink="/restaurants" routerLinkActive="active">
      <i class="fas fa-store icon"></i>
      <span class="text">Restaurants</span>
    </a>
    <a routerLink="/customers" routerLinkActive="active">
      <i class="fas fa-users icon"></i>
      <span class="text">Customers</span>
    </a>
  </div>
</nav>