h1 {
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
}

.item-name {
    font-size: 15px;
    /* Ajusta el tamaño del texto según necesites */
    font-weight: bold;
    /* Hace el texto en negrita */
}

.item-name,
.item-description {
    display: block;
    /* Hace que cada span se comporte como un bloque, apareciendo uno debajo del otro */
}

.menu-section ul {
    list-style-type: none;
    padding: 0;
    margin-left: 450px;
}

.menu-section li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.menu-section img {
    margin-right: 450px;
    width: 100px;
    height: 100px;
}